apiVersion: v1
kind: Secret
metadata:
  name: '{{name}}'
  labels:
    app.kubernetes.io/name: ods-pipeline
stringData:
  password: '{{password}}'
  username: '{{username}}'
type: kubernetes.io/basic-auth
