# Mandatory Values
# Fill out all values below to match your envionment.
# Please note that there are many more configuration options. For example, configuring
# notifications to be sent from pipeline runs, adding sidecars to tasks, overriding compute
# resources of tasks, managing prune settings, customising task prefixes and suffixes etc.
# All of these configuration options are set to a default value in ods-pipeline/values.yaml.
# If you want to override something there, copy the field here and configure as needed.

# Bitbucket URL (including scheme, without trailing slash).
# Example: https://bitbucket.example.com.
bitbucketUrl: ''

# Nexus URL (including scheme, without trailing slash).
# Example: https://nexus.example.com.
nexusUrl: ''

# OpenShift Web ConsoleURL (including scheme, without trailing slash).
# Example: https://console-openshift-console.apps.foo.tftp.p1.openshiftapps.com.
consoleUrl: ''

# Pipeline Manager
pipelineManager:
  # PVC (used for the pipeline workspace)
  # Storage provisioner. On AWS backed clusters, use e.g. 'ebs.csi.aws.com'.
  storageProvisioner: ''
  # Storage class. On AWS backed clusters, use e.g. 'gp3-csi'.
  storageClassName: ''
