kind: ConfigMap
apiVersion: v1
metadata:
  name: ods-nexus
  labels:
    {{- include "chart.labels" . | nindent 4}}
data:
  url: '{{.Values.nexusUrl}}'
  temporaryRepository: '{{.Values.nexusTemporaryRepository}}'
  permanentRepository: '{{.Values.nexusPermanentRepository}}'
