apiVersion: tekton.dev/v1beta1
kind: ClusterTask
metadata:
  name: ods-build-go
spec:
  description: |
    Builds Go (module) applications.

    The following steps are executed:

    - check proper formatting against gofmt
    - linting using golangci-lint
    - build (using `go-os` and `go-arch` parameters)
    - test execution

    Tests exclude the vendor directory. Test results are converted into xUnit format.

    Both xUnit report and coverage report are placed into .ods/artifacts.

    After tests ran successfully, the application source code is scanned by SonarQube.
    When `sonar-quality-gate` is set to `true`, the task will fail if the quality gate
    is not passed. If SonarQube is not desired, it can be disabled via `sonar-skip`.
    The SonarQube scan will include parameters to perform a pull request analysis if
    there is an open pull request for the branch being built. Pull request decoration
    in Bitbucket is done automatically by SonarQube provided the ALM integration is setup
    properly in SonarQube.
  params:
    - name: working-dir
      description: |
        Working directory. The path must be relative to the root of the repository,
        without leading `./` and trailing `/`.
      type: string
      default: "."
    - name: enable-cgo
      description: Whether to enable CGO. When not enabled the build will set `CGO_ENABLED=0`.
      type: string
      default: "false"
    - name: go-os
      description: "`GOOS` variable (the execution operating system such as `linux`, `windows`)."
      type: string
      default: "linux"
    - name: go-arch
      description: "`GOARCH` variable (the execution architecture such as `arm`, `amd64`)."
      type: string
      default: "amd64"
    - name: docker-dir
      description: >-
        Path to the directory to use as Docker context, relative to `working-dir`.
        The resulting Go binary will be copied there.
      type: string
      default: docker
    - name: sonar-quality-gate
      description: Whether the SonarQube quality gate needs to pass for the task to succeed.
      type: string
      default: "false"
    - name: sonar-skip
      description: Whether to skip SonarQube analysis or not.
      type: string
      default: "false"
  steps:
    - name: build-go-binary
      image: build/package/Dockerfile.go-toolset
      env:
        - name: DEBUG
          valueFrom:
            configMapKeyRef:
              key: debug
              name: ods-pipeline
      resources: {}
      script: |

        # build-go is build/package/scripts/build-go.sh.
        build-go \
          --working-dir=$(params.working-dir) \
          --enable-cgo=$(params.enable-cgo) \
          --go-os=$(params.go-os) \
          --go-arch=$(params.go-arch) \
          --docker-dir=$(params.docker-dir) \
          --debug=${DEBUG}
      workingDir: $(workspaces.source.path)
    - name: scan-with-sonar
      image: build/package/Dockerfile.sonar
      env:
        - name: SONAR_URL
          valueFrom:
            configMapKeyRef:
              key: url
              name: ods-sonar
        - name: SONAR_AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              key: password
              name: ods-sonar-auth
      resources: {}
      script: |
        if [ "$(params.sonar-skip)" = "true" ]; then
          echo "Skipping SonarQube analysis"
        else
          mkdir -p .ods/artifacts/sonarqube-analysis
          # sonar is built from cmd/sonar/main.go.
          sonar \
            -working-dir=$(params.working-dir) \
            -quality-gate=$(params.sonar-quality-gate)
        fi
      workingDir: $(workspaces.source.path)
  workspaces:
    - name: source
