{{if or .Values.global.enabledTasks.buildGradle .Values.gradleToolset}}
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: ods-gradle-toolset
  annotations:
    "helm.sh/resource-policy": keep
{{end}}
